keys.py
venv
.vscode
__pycache__
.pyc
launch.json
app/tmp/Positions/*
app/tmp/Backtests/*
backtesting
settings.json
.vscode/settings.json

alpaca_keys.json
GOOGLE_APPLICATION_CREDENTIALS.json
POLYGON_API.json
tests.py
app/tempCodeRunnerFile.py
.env
logs/trading_algo_20250609.log
logs/trading_algo_20250609.log
